## Data Understanding

In [53]:
import pandas as pd

In [54]:
data = pd.read_csv('../datasets/penerimaan-pegawai.csv')

In [55]:
data.head()

    Status Test Tertulis Hubungan Sosial Kinerja Diterima
0  Menikah         Cukup           Buruk    Baik       Ya
1  Menikah          Baik           Buruk   Buruk    Tidak
2  Menikah         Cukup            Baik    Baik       Ya
3  Menikah          Baik            Baik    Baik       Ya
4  Menikah        Kurang            Baik    Baik    Tidak

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
Status             12 non-null object
Test Tertulis      12 non-null object
Hubungan Sosial    12 non-null object
Kinerja            12 non-null object
Diterima           12 non-null object
dtypes: object(5)
memory usage: 560.0+ bytes

## Data Preparation

In [57]:
from sklearn.preprocessing import LabelEncoder

In [58]:
enc = LabelEncoder()

In [59]:
data['Status'] = enc.fit_transform(data['Status'].values)
data['Test Tertulis'] = enc.fit_transform(data['Test Tertulis'].values)
data['Hubungan Sosial'] = enc.fit_transform(data['Hubungan Sosial'].values)
data['Kinerja'] = enc.fit_transform(data['Kinerja'].values)

In [60]:
data.head()

   Status  Test Tertulis  Hubungan Sosial  Kinerja Diterima
0       1              1                1        0       Ya
1       1              0                1        1    Tidak
2       1              1                0        0       Ya
3       1              0                0        0       Ya
4       1              2                0        0    Tidak

In [61]:
data.tail()

    Status  Test Tertulis  Hubungan Sosial  Kinerja Diterima
7        0              1                0        0       Ya
8        0              0                0        1    Tidak
9        0              1                0        1    Tidak
10       0              1                1        0    Tidak
11       0              1                1        0    Tidak

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
Status             12 non-null int32
Test Tertulis      12 non-null int32
Hubungan Sosial    12 non-null int32
Kinerja            12 non-null int32
Diterima           12 non-null object
dtypes: int32(4), object(1)
memory usage: 368.0+ bytes

In [63]:
atr_data = data.drop(columns='Diterima')
atr_data.head()

   Status  Test Tertulis  Hubungan Sosial  Kinerja
0       1              1                1        0
1       1              0                1        1
2       1              1                0        0
3       1              0                0        0
4       1              2                0        0

In [64]:
cls_data = data['Diterima']
cls_data.head()

0       Ya
1    Tidak
2       Ya
3       Ya
4    Tidak
Name: Diterima, dtype: object

## Modeling dan Evaluasi

In [65]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier

In [66]:
xtrain, xtest, ytrain, ytest = train_test_split(atr_data, cls_data, test_size=0.3, random_state=10)

In [67]:
tree_data = DecisionTreeClassifier(random_state=10)
tree_data.fit(xtrain, ytrain)

print("Nilai akurasi pada data testing:", tree_data.score(xtest, ytest))

Nilai akurasi pada data testing: 0.75

In [69]:
from sklearn.tree import export_graphviz
export_graphviz(tree_data, out_file="tree_pegawai.dot", class_names=["Ya", "Tidak"], 
                feature_names=atr_data.columns, impurity=False, filled=True)

In [70]:
import graphviz

with open("tree_pegawai.dot") as fig:
    dot_graph = fig.read()
graphviz.Source(dot_graph)

In [71]:
ypred = tree_data.predict(xtest)

In [72]:
print(confusion_matrix(ytest, ypred))

[[1 0]
 [1 2]]