In [1]:
# import library pandas
import pandas as pd

In [3]:
# membuat variabel car
# load dataset usedcars.csv di folder datasets
car = pd.read_csv('../datasets/usedcars.csv')

In [4]:
# menampilkan lima data teratas
car.head()

   year model  price  mileage   color transmission
0  2011   SEL  21992     7413  Yellow         AUTO
1  2011   SEL  20995    10926    Gray         AUTO
2  2011   SEL  19995     7351  Silver         AUTO
3  2011   SEL  17809    11613    Gray         AUTO
4  2012    SE  17500     8367   White         AUTO

In [5]:
# cek tipe data
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
year            150 non-null int64
model           150 non-null object
price           150 non-null int64
mileage         150 non-null int64
color           150 non-null object
transmission    150 non-null object
dtypes: int64(3), object(3)
memory usage: 7.1+ KB

<ul>
    <li>Dari data di atas terlihat bahwa atribut model, color, dan transmission bertipe categorical</li>
    <li>Atribut bertipe categorical tersebut akan ditransform menjadi int</li>
</ul>

### 1. Label Encoder

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
# membuat variabel encoder untuk menampung fungsi LabelEncoder()
encoder = LabelEncoder()

In [11]:
# melakukan transformasi data menggunakan LabelEncoder
car['model'] = encoder.fit_transform(car['model'].values)
car['color'] = encoder.fit_transform(car['color'].values)
car['transmission'] = encoder.fit_transform(car['transmission'].values)

In [13]:
# menampilkan lima data teratas setelah dilakukan transformasi
car.head()

   year  model  price  mileage  color  transmission
0  2011      1  21992     7413      8             0
1  2011      1  20995    10926      3             0
2  2011      1  19995     7351      6             0
3  2011      1  17809    11613      3             0
4  2012      0  17500     8367      7             0

In [14]:
# cek tipe data setelah dilakuan data transformasi menggunakan LabelEncoder
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
year            150 non-null int64
model           150 non-null int64
price           150 non-null int64
mileage         150 non-null int64
color           150 non-null int32
transmission    150 non-null int32
dtypes: int32(2), int64(4)
memory usage: 5.9 KB